# Cadena de conexión de tu cluster de MongoDB Atlas.
MONGODB_URI=mongodb+srv://usuario:contrasena@cluster0.mongodb.net/?retryWrites=true&w=majority

# Base de datos para esta API (puede ser la misma de la Clase 1).
MONGODB_DB=pawnee_mongoose

# Puerto del servidor Express.
PORT=3000
